html
  head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker" rel="stylesheet")
    link(href="/CSS/app.css", rel="stylesheet")
    title= title
  body
    if !user
      section
          a.btn.gh-btn.pull-right(href="/auth/github") Login with Github
          a.btn.gh-btn.pull-right(href="/auth/google") Login with Google
      section.text-center

        div.row
          img.img-responsive.private(src="/IMG/secret.png")

    else
      div.row
        div.nav
          div.btn-group.pull-right(style="margin-top: 15px;")
            button.btn.profile-btn.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")= user.username
              span.caret(style="margin-left: 5px;")
            ul.dropdown-menu
              li
                a(href="/logout") Logout

          div.row
            img.img-responsive.private(src="/IMG/secret.png")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="/JS/konami.js")
    script(src="/JS/app.js")
